<nav style="background: #333; padding: 10px;">
  <a routerLink="/decorators" routerLinkActive="active" style="color:white; margin: 10px;">Decorator & Directives</a>
  <a routerLink="/services" routerLinkActive="active" style="color:white; margin: 10px;">Services</a>
  <a routerLink="/dependencyInjection" routerLinkActive="active" style="color:white; margin: 10px;">DependencyInjection</a>
  <a routerLink="/template-driven" routerLinkActive="active" style="color: white; margin: 10px;">Template-Driven</a>
  <a routerLink="/react-validation" routerLinkActive="active" style="color: white; margin: 10px;">React-Validation</a>
  <a routerLink="/lifeCycleHooks" routerLinkActive="active" style="color: white; margin: 10px;">LifeCycleHooks</a>
  <a routerLink="/pipes" routerLinkActive="active" style="color: white; margin: 10px;">Pipes</a>
  <a routerLink="/authGuard" routerLinkActive="active" style="color: white; margin: 10px;">AuthGuard</a>
  <!-- Dropdown -->
  <div class="dropdown">
    <a href="#" style="color: white; margin: 10px;">Data Communication ⬇</a>
    <div class="dropdown-content">
      <a routerLink="/communication" routerLinkActive="active" style="color: white; margin: 10px;">Communication</a>
      <a routerLink="/sender" routerLinkActive="active" style="color: white; margin: 10px;">Sender</a>
      <a routerLink="/receiver" routerLinkActive="active" style="color: white; margin: 10px;">Receiver</a>
    </div>
  </div>
   
</nav>
<!-- This is where pages will load -->
<div style="margin:20px;">
  <router-outlet></router-outlet>
</div>
