 /* Navbar container */
.navbar {
  background-color: #333;
  padding: 10px;
  overflow: hidden;
}

/* All links */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown{
  border: 0;
}